// Colors
$nileBlue: #163850;
$white: #FFFFFF;
$malachite: #0BD455;
$blueRibbon: #2E5BFF;
$crimson: #DC174C;
$baliHai: #8798AD;
$orangeYellow: #FEB63F;
$linkWater: #F4F6FC;
$zumthor: #E0E7FF;
$mystic: #E4E8F0;
$heater: #BFC5D2;
$pinkledBluewood: #2E384D;
// Application Wide
$app-nav-width: 5rem;
$app-nav-expanded-width: 13.438rem;
$stage-margin: 10px;

